header {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    background-image: url(asfalto.jpg);
    color: white;
}

h1 {

   padding: 30px;
   font-family: 'Angkor';font-size: 45px;
}

body {
    background-image: url(asfalto.jpg);
  
}

form {
    text-align: center;
    margin: 130px;
    
 
}

label {
    display: block;
    font-size: 30px;
    color: #363632;
    margin: 40px 0 0 0;
    font-family: 'Angkor';
    
}

input {

    margin: 0 0 20px;
    padding: 10px 25px;
    font-size: 22px;
    text-align: center;
}


#divResultado  {

    margin: 30px 0 0 0;
    font-family: 'Angkor';
    color: #363632;
   
}


p {
    font-size: 40px;
    font-family: 'Angkor';
    margin: 20px 0 0 0;
}


button {
    margin: 20px 0 0 20px;
}

.calcular {
    padding: 15px 0;
    margin: 0 0 0 0;
    width: 10%;
    color: #363632;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}


.atualiza {
    padding: 15px 0px;
    width: 14%;
    color: #363632;
    font-weight: bold;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.calcular:hover {
    background: rgb(97, 80, 36);
    transform: scale(1.2);
    color: white;
}

.atualiza:hover {
    background: rgb(97, 80, 36);
    transform: scale(1.2);
    color: white;
}

/* responsividade para smartphone*/

@media screen and (max-width: 480px) {
    
    form {
        
       margin: 90px 0 0 0;
    }

    .calcular {
        padding: 15px 0;
        margin: 0 0 0 0;
        width: 40%;
        color: #363632;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s all;
    }

    .atualiza {
        padding: 15px 0px;
        width: 40%;
        color: #363632;
        font-weight: bold;
        font-size: 17px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s all;
    }

    #divResultado  {

        margin: 50px 0 0 0;
        font-family: 'Angkor';
        color: #363632;
       
    }

    h3 {
        font-size: 25px;

    }

    p {

        font-size: 55px;
    }

    input {

        margin: 0 0 20px;
        padding: 25px 25px;
        font-size: 30px;
        text-align: center;
        width: 40%;
        font-weight: bold;
    }


}